@model MakeFriendsMVC.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MakeFriends.cshtml";
}

<div class="container">

    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <h2 class="form-signin-heading">@Resources.Strings.SignIn</h2>

        <div class="control-group">
        @Html.LabelFor(m => m.UserName, new { @class= "control-label" })
        <div class="controls">
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
        </div>
        </div>

        @Html.LabelFor(m => m.Password, new { @class= "control-label" })
        <div class="controls">
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> @Resources.Strings.RememberMe
            </label>
            <button class="btn btn-success" type="submit">@Resources.Strings.SignIn</button>
              </div>
         </div>
        
        
    }
</div>